.side-navbar {
    height: 100vh;
    background-color: #3e464d;
    width: 18%;
}

.dashboard-window {
    height: 80vh;
    margin-left: 20%;
    margin-top: 20px;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .side-navbar {
        width: 30%;
    }

    .dashboard-window {
        margin-left: 32%;
    }
}