.custom-border {
    border-right: 2px solid rgb(105, 94, 94);
    padding-right: 20px;
}

.machine-image {
    width: 33% !important;
}

.amazing-container {
    padding: 3rem;
}


@media only screen and (max-width: 992px) {
    .custom-border {
        border-right: 0;
        padding-right: 0;
        border-bottom: 2px solid rgb(105, 94, 94);
        padding-bottom: 20px;
    }

    .amazing-container {
        padding: 1rem;
    }

    .amazing-image {
        width: 100%;
    }

    .machine-image {
        width: 100% !important;
    }
}